@font-face
    font-family: 'VLANÈLLAOL'
    src: url("@/assets/font/Vlanella_outline.otf") format("opentype")
    font-style: normal

#webglHB
    position: fixed
    top: 0
    left: 0
    outline: none
    z-index: 1

#void
    content: " "
    height: 150vh
    width: 100%
    text-align: center
