@font-face
    font-family: 'VLANÈLLAOL'
    src: url("@/assets/font/VLANÈLLA OUTLINE.ttf") format("truetype")
    font-style: normal

#webglHP
    position: fixed
    top: 0
    left: 0
    outline: none
    z-index: -1

#void
    content: " "
    height: 110vh
    width: 100%
    text-align: center

h1
    color: #eee
    font-weight: 500
    font-family: "VLANÈLLAOL"
    padding-top: 50vh

hr
    width: 45%

#contact
    padding: 5% 0px
    justify-content: space-around
    display: flex
    img
        max-width: 100%
        transform: scale(1.2)
        transition: all .3s
        filter: blur(3px)
        opacity: 0.2
    img:hover
        filter: blur(0px)
        opacity: 1
        transform: greyscale(1)
