@font-face
    font-family: 'VLANÈLLAOL'
    src: url("@/assets/font/Vlanella_outline.otf") format("opentype")
    font-style: normal

@keyframes fadeIn
    0%
        opacity: 0
    100%
        opacity: 1

#webglHP
    position: fixed
    top: 0
    left: 0
    outline: none
    z-index: -1

#void
    content: " "
    height: 150vh
    width: 100%
    text-align: center

h1
    color: #eee
    font-weight: 500
    font-family: "VLANÈLLAOL"
    padding-top: 45vh
    animation: fadeIn 10s

hr
    width: 45%

#contact
    padding: 5% 0px
    justify-content: space-around
    display: flex
    img
        max-width: 100%
        transform: scale(1)
        transition: all .2s
        filter: blur(0.5px)
        opacity: 0.7
    img:hover
        filter: blur(0px)
        opacity: 1
        transform: greyscale(1)

@media screen and (max-width: 576px) and (min-width: 0px)
    h1
        font-size: 1em
    #contact
        img
            transform: scale(0.6)

@media screen and (max-width: 768px) and (min-width: 577px)
    h1
        font-size: 1.3em
    #contact
        img
            transform: scale(0.8)

@media screen and (max-width: 992px) and (min-width: 769px)
    h1
        font-size: 1.5em
    #contact
        img
            transform: scale(1)

@media screen and (max-width: 1200px) and (min-width: 993px)
    h1
        font-size: 1.8em
    #contact
        img
            transform: scale(1.1)

@media screen and (max-width: 2560px) and (min-width: 1921px)
    h1
        font-size: 4em
    #contact
        img
            transform: scale(1.5)

@media screen and (max-width: 3840px) and (min-width: 2561px)
    h1
        font-size: 5em
    #contact
        img
            transform: scale(2)
