@font-face
    font-family: 'Charley'
    src: url("@/assets/font/CHARLEY.otf") format("opentype")
    font-weight: 500
    font-style: normal

#general
    position: absolute
    top: 0
    z-index: -1
    width: 100%

#grid
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: minmax(100px, auto)
    #container
        height: 50vh
        #child
            contain: " "
            width: 100%
            height: 100%
            background-position: center
            background-repeat: no-repeat
            transition: all .6s
        .center
            background-size: 70%
        .center:hover
            background-size: 90%
        .cover
            background-size: 100%
        .cover:hover
            background-size: 120%

#paBG, #photoBG, #modBG
    height: 60vh
    width: 100%
    background-color: #1a1a1a
    text-align: center
    h2
        margin: 0px
        padding-top: 13%
        font-family: "Charley"
        font-size: 6em
        color: #EEE
