@font-face
    font-family: 'Charley'
    src: url("@/assets/font/CHARLEY.otf") format("opentype")
    font-weight: 500
    font-style: normal

#general
    position: absolute
    top: 0
    z-index: -1
    width: 100%

#grid
    width: 100%
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-auto-rows: minmax(100px, auto)
    #container
        height: 50vh
        #child
            contain: " "
            width: 100%
            height: 100%
            background-position: center
            background-repeat: no-repeat
            transition: all .6s
        .center
            background-size: 70%
        .center:hover
            background-size: 90%
        .cover
            background-size: 100%
        .cover:hover
            background-size: 120%

#paBG, #photoBG, #modBG
    height: 60vh
    width: 100%
    background-color: #1a1a1a
    text-align: center
    h2
        margin: 0px
        padding-top: 13%
        font-family: "Charley"
        font-size: 6em
        color: #EEE
#footer
    h2
        text-align: center
        margin: 0px
        padding-top: 2%
        font-family: "Charley"
        font-size: 3em
        color: #EEE

#contact
        padding: 5%
        text-align: center
        a
            img
                width: 10%
                transition: all .3s
                filter: blur(3px)
                opacity: 0.5
            img:hover
                filter: blur(0px)
                opacity: 1
                transform: greyscale(1)

@media screen and (max-width: 900px) and (min-width: 600px)

    #paBG, #photoBG, #modBG
        h2
            padding-top: 30%
            font-size: 4.5em
    
    #contact
        a
            img
                width: 20%

    #footer
        h2
            font-size: 2.5em

    #grid
        #container
            #child
            .center
                background-size: 95%
            .center:hover
                background-size: 115%
            .cover
                background-size: 180%
            .cover:hover
                background-size: 200%

@media screen and (max-width: 600px)

    #paBG, #photoBG, #modBG
        h2
            padding-top: 50%
            font-size: 3em
    
    #contact
        a
            img
                width: 30%

    #footer
        h2
            font-size: 2em

    #grid
        #container
            #child
            .center
                background-size: 95%
            .center:hover
                background-size: 115%
            .cover
                background-size: 220%
            .cover:hover
                background-size: 240%
