@font-face
    font-family: 'CovesL'
    src: url("@/assets/font/Coves Light.otf") format("opentype")
    font-style: normal

@font-face
    font-family: 'CovesB'
    src: url("@/assets/font/Coves Bold.otf") format("opentype")
    font-weight: normal

@font-face
    font-family: 'VLANÈLLA'
    src: url("@/assets/font/VLANÈLLA REGULAR.ttf") format("truetype")
    font-style: normal

@font-face
    font-family: 'VLANÈLLA OUT'
    src: url("@/assets/font/VLANÈLLA OUTLINE.ttf") format("truetype")
    font-style: normal

h2
    text-align: center
    color: #eee
    margin-top: 5%
    font-family: ""

#footer
    h2
        font-family: "VLANÈLLA"
        font-size: 1em
    #contact
        padding: 10% 5%
        text-align: center
        a
            img
                transform: scale(2)
                transition: all .3s
                filter: blur(3px)
                opacity: 0.5
            img:hover
                filter: blur(0px)
                opacity: 1
                transform: greyscale(1)

#content-l, #content-r
    background-color: rgba(180, 180, 180, 0.1)
    border-radius: 20px
    padding: 5%
    display: flex
    margin: 2% 10%
    img
        width: 40vh
        height: 40vh
        margin: 2%
    h1
        margin-top: 7%
        color: #eee
        font-size: 1em
        font-weight: 800
        font-family: "VLANÈLLA"
    h3
        margin-top: 3%
        font-weight: 500
        font-size: 0.5em
        font-family: "VLANÈLLA OUT"
    h4
        color: #BBB
        font-family: "CovesB"
    section
        color: #BBB
        height: 50%
    #text
        width: 50%
        margin-left: 10%
        font-family: "CovesL"

#content-r
    background-color: rgba(180, 180, 180, 0.1)
    #text
        width: 50%
        margin-right: 10%

hr
    width: 50%
    margin-top: 5%
    margin-bottom: 5%

.final
    color: #b8f5b3

.running
    color: #f5dfab

.comming
    color: #f5a295

a
    text-decoration: none
    color: #AAA

a:hover
    color: #EEE
